.added-to-cart {
    display: flex;
}

.added-to-cart img {
    width: 20px;
}

.product-name {
    font-size: 30px;
    margin-top: 10px;
}

.product-rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-rating-stars {
    width: 120px;
}

.product__bottom__style {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-to-cart-button {
    padding: 10px 15px;
}

.shopping-product-container {
    margin-top: 500px;
    margin-bottom: 100px;
}

.productDesc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
    border-radius: 10px;
}